FASTAPI_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/db
FASTAPI_CONFIG__DB__ECHO=false
FASTAPI_CONFIG__DB__ECHO_POOL=false
FASTAPI_CONFIG__DB__POOL_SIZE=50
FASTAPI_CONFIG__DB__MAX_OVERFLOW=10

FASTAPI_CONFIG__LOGGING__LEVEL=DEBUG
FASTAPI_CONFIG__LOGGING__FILE_ENABLED=false
FASTAPI_CONFIG__LOGGING__CONSOLE_ENABLED=true
FASTAPI_CONFIG__LOGGING__FILE_PATH="logs/service.log"

FASTAPI_CONFIG__CORS__ALLOW_ORIGINS=["http://localhost:3000","https://myapp.com"]
FASTAPI_CONFIG__CORS__ALLOW_METHODS=["GET","POST"]
FASTAPI_CONFIG__CORS__ALLOW_HEADERS=["Authorization","Content-Type"]
FASTAPI_CONFIG__CORS__ALLOW_CREDENTIALS=true
